.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(78, 117, 255, 1);
  border: none;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headerInput {
  width: 60%;
  max-width: 600px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 8px 12px;
}

.headerBtn {
  background-color: transparent;
  border: none;
}

.headerBtn > svg {
  cursor: pointer;
}
